@use "./scss/tesla-car";
@use "./scss/tesla-km-results";
@use "./scss/tesla-settings";
@use "./scss/tesla-fan";
@use "./scss/tesla-wheel-size";
@use "./scss/animations";
@use "./scss/footer";

@font-face {
  font-family: MontserratRegular;
  src: url(../public/fonts/Montserrat-Regular.ttf);
}

:root {
  --primary: #1897fe;
  --primary-dark: #177ed2;
  --primary-clear: #7fc4fd;
  --heat: #fe1818;
  --heat-dark: #d21717;
  --grey: #f0f2f7;
  --dark-grey: #bcc2d3;
  --darker-grey: #696868;
  --medium-grey: #b9bed1;
  --white: #fff;
}

html,
body {
  font-family: MontserratRegular;
  margin: 0;
}

.container {
  padding: 0 1em;
  max-width: 80rem;
  margin: 0 auto;
  // margin-bottom: calc(100vh - 5em);
}

.text-primary {
  color: var(--primary);
}

.text-primary-clear {
  color: var(--primary-clear);
}

#battery-range-calculator-inputs {
  label,
  legend {
    color: var(--medium-grey);
  }
}

.separator {
  background-color: var(--medium-grey);
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1px 2fr 1fr 1px 4fr;
  // justify-items: center;
}
