@use "./scss/tesla-car";
@use "./scss/tesla-km-results";
@use "./scss/tesla-settings";
@use "./scss/tesla-fan";
@use "./scss/tesla-wheel-size";
@use "./scss/animations";
@use "./scss/responsive";
@use "./scss/footer";
@use "./scss/navbar";

@font-face {
  font-family: MontserratRegular;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

:root {
  --primary: #1897fe;
  --primary-dark: #177ed2;
  --primary-clear: #7fc4fd;
  --heat: #fe1818;
  --heat-dark: #d21717;
  --grey: #f0f2f7;
  --dark-grey: #bcc2d3;
  --darker-grey: #696868;
  --medium-grey: #b9bed1;
  --white: #fff;
}

*:focus-visible {
  box-shadow: 0px 1px 20px -3px var(--primary-clear);
  -webkit-box-shadow: 0px 1px 20px -3px var(--primary-clear);
  -moz-box-shadow: 0px 1px 20px -3px var(--primary-clear);
}

html,
body {
  font-family: MontserratRegular;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 0 1em;
  max-width: 80rem;
  margin: 0 auto;
  padding-bottom: 5em;
}

.text-primary-clear {
  color: var(--primary-clear);
}

.calculator-input-label {
  color: var(--medium-grey);
}

.separator {
  background-color: var(--medium-grey);
}

.battery-range-calculator-disclaimer {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 2.5em;
}

.calculator-container {
  display: grid;
  gap: 1em;
}

.topbar {
  margin-bottom: auto;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  background-color: black;
  max-height: 3em;
}

.range-per-charge {
  text-align: center;
  font-size: 38px;
}

.tesla-description {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  align-items: center;

  &__container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
  }

  h1 {
    text-align: center;
    font-size: 54px;
    margin: 0;
  }
  p {
    text-align: center;
    margin: 0;
  }
  .go-to-range-per-change {
    background: var(--white) url(./assets/images/icon-chevron-down.svg) no-repeat center center;
    border-radius: 50%;
    min-width: 4.5em;
    min-height: 4.5em;
    border: 2px solid black;
  }
}


@media all and (-ms-high-contrast:none) {
  .container {
    max-width: 100%;
  }
  
  .tesla-car {
    display: -ms-grid;
    -ms-grid-columns: 1fr;
  }
}