.footer {
  background-color: black;
  color: var(--white);
  padding: 3em;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin-top: auto;

  &--item {
    font-size: 14px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: 2;
      font-size: 14px;
  
      a {
        text-decoration: none;
        color: var(--white);
      }
    }

    &__email {
      display: grid;
      gap: 1em;
      grid-template-columns: 1fr 1fr;
    }
  }

  &--button {
    background-color: var(--white);
    padding: 1em 2em;
    color: var(--primary);
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
  }

  &--input {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--white);
    padding: 1em;

    &::placeholder {
      color: var(--white);
    }
  }

  &--subheader {
    font-size: 10px;
  }
}