input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  outline: none;
  border: none;
  cursor: auto;
  font-size: inherit;
  background-color: transparent;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.tesla-settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  & > label {
    grid-column: span 2;
  }

  &__unit {
    font-size: 20px; 

    &.kmh {
      margin-left: 5px;
      align-self: center;
    }

    &.temp {
      margin-left: 1px;
      align-self: start;
    }
  }


  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1em;

    input {
      text-align: right;
      max-width: 25%;
    }
  }

  &__container {
    grid-column: span 2;
    position: relative;
    border: 1px solid var(--dark-grey);
    padding: 0.875rem;
    font-size: 34px;
    background-color: var(--grey);
    &::after {
      position: absolute;
      margin: auto 0;
      font-weight: bold;
      font-size: 20px;
    }
  }

  &__arrows {
    position: absolute;
    display: grid;
    right: 0.2em;
    top: 0.1em;
    height: 100%;

    button {
      outline: 0;
      width: 30px;
      color: var(--primary);
      cursor: pointer;
      border: 0;
      background-size: 60%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;

      &:first-child {
        background-image: url(./assets/images/icon-thin-chevron-up.svg);
      }
      &:last-child {
        border-top: 1px solid var(--dark-grey);
        background-image: url(./assets/images/icon-thin-chevron-down.svg);
      }
    }
  }
}
