input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  width: 100%;
  position: absolute;
  outline: none;
  margin: 0;
  cursor: pointer;
}

input[type="radio"]:checked {
  border: 1px solid var(--primary);
}

.tesla-wheel-size__selector {
  position: relative;
  border: 1px solid var(--dark-grey);
  background-color: var(--grey);
  min-height: 4.5rem;
}

.tesla-wheel-size {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  & > legend {
    grid-column: span 2;
  }
  &__button {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__img {
    max-width: 3rem;
    &--big {
      max-width: 4rem;
    }
  }
  &__label {
    font-size: 20px;
    color: var(--darker-grey);
    margin: 0;
  }
}
